html, body {
  width: 100%;
  height: 100% !important;
  padding: 0px;
  margin: 0px; }

ul.navbar {
  background: transparent; }

nav .navbar-toggler, .login .navbar-toggler {
  border: solid 1px white !important; }
  nav .navbar-toggler i, .login .navbar-toggler i {
    color: white !important; }

nav .nav-item a, .login .nav-item a {
  color: white !important; }

nav a.nav-link, .login a.nav-link {
  color: white !important; }

nav a.nav-link:hover, .login a.nav-link:hover {
  color: #3463fc !important; }

nav a.navbar-brand, .login a.navbar-brand {
  color: white !important;
  padding-left: 20px !important; }
  nav a.navbar-brand span, .login a.navbar-brand span {
    vertical-align: 10px; }

div .login {
  padding: 0px !important; }

#chart_wrap {
  position: relative;
  padding-bottom: 50%;
  height: 0;
  overflow: hidden; }

#piechart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px; }

.footer {
  position: sticky;
  top: 100%;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  padding-top: .5rem;
  margin: 0px;
  color: white; }

.title-bar, .login {
  background-color: #2d2d30 !important; }

.top-bar-left {
  display: inline-flex; }

.top-bar-left a {
  color: white !important; }

.border-none {
  border: none !important; }

.top-bar-left .menu {
  background-color: transparent !important;
  color: white; }

.top-bar-title {
  background-color: transparent !important;
  display: inline-flex;
  color: white; }

.top-bar {
  padding: 0;
  /*margin: 0 -15px 0 -15px;*/ }

.top-bar, .menu a:active, .footer {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
  background: #7d7e7d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #7d7e7d 0%, #0e0e0e 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
  /* IE6-9 */ }

.menu {
  background-color: #2d2d30;
  color: #fff; }

.menu li a {
  color: white; }

.menu li a:hover {
  background-color: aqua; }

.size-12 {
  font-size: 12px; }

.size-14 {
  font-size: 14px; }

.size-16 {
  font-size: 16px; }

.size-18 {
  font-size: 18px; }

.size-21 {
  font-size: 21px; }

.size-24 {
  font-size: 24px; }

.size-36 {
  font-size: 36px; }

.size-48 {
  font-size: 48px; }

.size-60 {
  font-size: 60px; }

.size-72 {
  font-size: 72px; }

.size-80 {
  font-size: 80px; }

.accordion-content {
  padding: 0px !important; }

/*.login {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}*/
.ui-layout-center {
  padding: 0px !important; }

.field-validation-error {
  color: #ff0000; }

.dropdown-menu.show {
  z-index: 1100; }

.dropdown-menu-right {
  right: 0 !important;
  left: auto !important; }

@media (max-width: 568px) {
  .hidden-sm {
    display: none; } }

@media (min-width: 992px) {
  .hidden-lg {
    display: none; } }

@media (min-width: 768px) {
  .hidden-md {
    display: none; } }

div.menu-icon {
  width: auto; }

.main-section .col-lg-4, .main-section col-sm-6 {
  margin-bottom: 15px;
  margin-top: 15px; }

.main-section .card {
  background-color: rgba(0, 0, 255, 0.1); }

#manager_user_grid_wrapper {
  width: 100%; }
  #manager_user_grid_wrapper tr {
    width: 100%; }

.ui-widget-content {
  background-color: #fff !important; }

.ui-dialog-titlebar-close {
  background-image: url("themes/base/images/ui-icons_888888_256x240.png");
  background-position-x: 415px;
  background-position-y: 111px; }

.error {
  color: #ff0000 !important;
  font-size: small; }

.ui-layout-center .card {
  margin-top: 15px; }

.d-table {
  display: table;
  width: 100%; }

.d-table-header {
  display: table-header-group; }

.d-table-body {
  display: table-row-group; }

.d-table-footer {
  display: table-footer-group; }

.d-table-row {
  display: table-row; }

.d-table-cell, .d-table-header {
  display: table-cell;
  border-bottom: solid 1px #7d7e7d !important;
  padding: 5px; }

.d-table-collumn {
  display: table-column; }

div.d-colspan,
div.d-colspan + div.d-table-cell {
  border: 0; }

div.d-colspan > div {
  width: 1px; }

div.d-colspan > div > div {
  position: relative;
  width: 99px;
  overflow: hidden; }

#project_tabs .nav-pills > li > a {
  border-radius: 4px 4px 0 0; }

#project_tabs .nav-pills .nav-link.active {
  color: white;
  background-color: #2d2d30; }

#project_tabs .tab-content {
  /*color: white;*/
  background-color: #2d2d30;
  padding: 5px 15px; }
