@model ProjectManagementTool.Models.ViewModels.PGMToolVM
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-lg-12">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="username">User Name</label>
                        <input type="text" class="form-control" id="username" runat="server" value="" />
                    </div>
                    <div class="form-group col-md-3">
                        <label for="lastName">Status</label>
                        <select type="text" class="form-control" id="status" runat="server">
                            <option value="true">Active</option>
                            <option value="false">Inactive</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" id="username" runat="server" value="" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="lastName" runat="server" value="" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="emailAddress">Email Address</label>
                        <input type="email" class="form-control" id="emailAddress" runat="server" value="" />
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" runat="server" value="" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="confirmPassword">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword" runat="server" value="" />
                    </div>
                </div>
            </form>

        </div>

    </div>

</div>
