@model ProjectManagementTool.Models.ProjectModel
<div class="accordion md-accordion" role="tablist" id="accordionEx1" aria-multiselectable="true">
    @if (Model.Companies != null && Model.Companies.Count > 0)
    {
        foreach (var comp in Model.Companies)
        {
            <div class="card">
                <div class="card-header" id="headingOne" role="tab">

                    <a href="#collapseOne_@comp.ID" class="btn btn-link" data-toggle="collapse" data-parent="#accordionEx1" aria-expanded="false" aria-controls="collapseOne_@comp.ID">
                        <h5>  <i class="fa fa-user size-21"></i>  @comp.Name  </h5>
                    </a>

                </div>

                <div class="card-body collapse" id="collapseOne_@comp.ID" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordionEx1">
                    <ul class="nav flex-column">
                        <li class="nav-item"><a href="/PGMTool/OverView?cmp=@comp.ID" class="nav-link"><i class="fa fa-stack-overflow size-21"></i> Overview</a></li>
                        <li class="nav-item"><a href="/PGMTool/Details?cmp=@comp.ID" class="nav-link"><i class="fa fa-product-hunt size-21"></i> My Projects</a></li>
                    </ul>
                </div>

            </div>
        }
    }


</div>