<ul class="menu" data-menu>
    <li><a href="/PGMTool/Manage"><i class="fi-home size-24"></i></a></li>
</ul>

<ul class="tabs" data-deep-link="true" data-update-history="true" data-deep-link-smudge="true" data-deep-link-smudge="500" data-tabs id="deeplinked-tabs">
    <li class="tabs-title large-flex-child-auto  is-active"><a href="#panel1d" aria-selected="true">PROJECT</a></li>
    <li class="tabs-title large-flex-child-auto "><a href="#panel2d">Tab 1</a></li>
    <li class="tabs-title large-flex-child-auto "><a href="#panel3d">Tab 3</a></li>
</ul>

<div class="tabs-content" data-tabs-content="deeplinked-tabs">
    <div class="tabs-panel is-active" id="panel1d">
       @{Html.RenderPartial("_LeftMenuAccordion");}
    </div>
    <div class="tabs-panel" id="panel2d">
        <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
    </div>
    <div class="tabs-panel" id="panel3d">
        
    </div>
   
</div>