
<ul class="accordion" data-accordion data-allow-all-closed="true">
    <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Domingo's Custruction</a>
        <div class="accordion-content" data-tab-content>
            <ul class="menu vertical" data-menu>
                <li><a href="javascript: void(0);" class="actionBtn_overview flex-child-auto" data-action-value="OverView"><i class="fi-play float-right"></i><span>Overview</span></a></li>
                <li><a href="javascript: void(0);" class="actionBtn_projectDetails flex-child-auto" data-action-value="ProjectView"><i class="fi-play float-right"></i><span>My Projects</span></a></li>
                <li><a href="javascript: void(0);" class="flex-child-auto"><i class="fi-play float-right"></i><span>Project 3</span></a></li>
            </ul>
        </div>
    </li>
    <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Users</a>
        <div class="accordion-content" data-tab-content>
            <ul class="menu vertical" data-menu>
                <li><a href="#" class="flex-child-auto"><i class="fi-play float-right"></i><span>Overview</span></a></li>
                <li><a href="#" class="flex-child-auto"><i class="fi-play float-right"></i><span>My Projects</span></a></li>
                <li><a href="#" class="flex-child-auto"><i class="fi-play float-right"></i><span>Project 3</span></a></li>
            </ul>
        </div>
    </li>
    <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Users</a>
        <div class="accordion-content" data-tab-content>
            <ul class="menu vertical" data-menu>
                <li><a href="#" class="flex-child-auto"><i class="fi-play float-right"></i><span>Overview</span></a></li>
                <li><a href="#" class="flex-child-auto"><i class="fi-play float-right"></i><span>My Projects</span></a></li>
                <li><a href="#" class="flex-child-auto"><i class="fi-play float-right"></i><span>Project 3</span></a></li>
            </ul>
        </div>
    </li>

</ul>


@section scripts{


}
