<div class="grid-x grid-container-padded grid-padding-x small-up-3 align-center">
        <div class="small-12 medium-3 columns">
            <div class="card">
                <a class="button" href="/PGMTool/Projects"><i class="step fi-torso-business size-72"></i><div class="card-section">Manage Projects</div> </a>
            </div>
        </div>
        <div class="small-12 medium-3 columns">
            <div class="card">
                <a class="button" href="#"><i class="step fi-widget size-72"></i><div class="card-section">Profile Settings</div></a>
            </div>
        </div>

        <div class="small-12 medium-3 columns">
            <div class="card">
                <a class="button" href="#"><i class="step fi-torsos-all size-72"></i><div class="card-section">Add Users</div></a>
            </div>
        </div>
    

</div>
    


