<div class="row main-section">

    <div class="col-lg-4 col-sm-6">
        <div class="card">
            <div class="card-body text-center">
                <a class="button" href="/PGMTool/Projects"><i class="fa fa-building size-72"></i><div class="card-section">Manage Projects</div> </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="card">
            <div class="card-body text-center">
                <a class="button" href="#"><i class="fa fa-users size-72"></i><div class="card-section">Profile Settings</div></a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="card">
            <div class="card-body text-center">
                <a class="button" href="/PGMTool/ManageUsers"><i class="fa fa-user size-72"></i><div class="card-section">Manage Users</div></a>
            </div>
        </div>
    </div>


</div>



