<div class="cell medium-2 medium-cell-block-y">
    <ul class="vertical dropdown menu" data-dropdown-menu="drilldown medium-dropdown">
        <li>
            <a href="#" class=""><i class="fi-torso"></i>Team Member</a>
            <ul class="vertical menu nested">
                <li>
                    <a href="#" class=""><i class="fi-torso"></i>Team Member</a>

                </li>
                <li><a href="#" class=""><i class="fi-torso"></i>Team Member</a></li>
                <li><a href="#" class=""><i class="fi-torso"></i>Team Member</a></li>
                <li><a href="#" class=""><i class="fi-torso"></i>Team Member</a></li>
            </ul>
        </li>
        <li><a href="#" class=""><i class="fi-torso"></i>Team Member</a></li>
        <li><a href="#" class=""><i class="fi-torso"></i>Team Member</a></li>
        <li><a href="#" class=""><i class="fi-torso"></i>Team Member</a></li>
    </ul>
</div>
