<ul class="menu">
    <li><a href="#"><i class="fi-list-number"></i><span> Add Material </span></a></li>
    <li><a href="#"><i class="fi-page-remove"></i><span> Remove Material </span></a></li>
</ul>
<div class="callout">
    <table id="projectList" class="display">
        <thead>
            <tr>
                <th style="max-width:25px">Select All <input type="checkbox" id="checkAll_materialList" /></th>
                <th>Item ID</th>
                <th>Material Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total Cost</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td align="center"><i class="fi-paperclip"></i><span> <input type="checkbox" value="1" class="cb_material_list" id="delete_material" /> </span></td>
                <td>1</td>
                <td>Drywall</td>
                <td>10</td>
                <td>$14.00</td>
                <td>$140.00</td>
            </tr>
            <tr>
                <td align="center"><i class="fi-paperclip"></i><span> <input type="checkbox" value="2" class="cb_material_list" id="delete_material" /> </span></td>
                <td>2</td>
                <td>Trim</td>
                <td>200</td>
                <td>$4.00</td>
                <td>$800.00</td>
            </tr>
            <tr>
                <td align="center"><i class="fi-paperclip"></i><span> <input type="checkbox" value="3" class="cb_material_list" id="delete_material" /> </span></td>
                <td>3</td>
                <td>Hardwood Floors</td>
                <td>800</td>
                <td>$4.00</td>
                <td>$3200.00</td>
            </tr>


        </tbody>

    </table>
</div>

<div class="callout flex-container align-right">
    Total Material List Cost: $4140
</div>

