<ul class="menu">
    <li></li>
</ul>

<div class="grid-x grid-margin-x callout flex-container align-justify ">
    <div class="medium-4 small-12 columns">
        <div class="title-bar">
            <i class="fi-list-bullet ">&nbsp;</i><span>Project Information</span>
        </div>
        <div class="callout ">

            <div class="row flex-container align-justify">
                <div class="small-6 columns">Open</div>
                <div class="small-6 columns">10</div>
            </div>

            <div class="row flex-container align-justify">
                <div class="small-6 columns">Pending</div>
                <div class="small-6 columns">0</div>
            </div>
            <div class="row flex-container align-justify">
                <div class="small-6 columns">Close</div>
                <div class="small-6 columns">10</div>
            </div>
        </div>
    </div>

    <div class="medium-4 small-12 columns">
        <div class="title-bar">
            <i class="fi-list-bullet ">&nbsp;</i><span>Project Information</span>
        </div><div class="callout">
            test 1
        </div>
    </div>
    <div class="medium-4 small-6 columns">
        <div class="title-bar">
            <i class="fi-list-bullet ">&nbsp;</i><span>Project Information</span>
        </div>
        <div class="callout">
            test 1
        </div>
    </div>
</div>

<ul class="menu flex-container align-left">
    <li><a href="#"><i class="fi-list">&nbsp;</i><span>New Project</span></a></li>
</ul>
<div class="row callout large-12 collapse">
    <table id="projectList" class="dataTable_projet_list">
        <thead>
            <tr>
                <th></th>
                <th>Project Id</th>
                <th>Project Name</th>
                <th>Project Description</th>
                <th>Created Date</th>
                <th>Completion Date</th>
            </tr>
        </thead>
        <tbody>
            <tr class="actionBtn" data-action-value="">
                <td align="center"><i class="fi-paperclip"></i></td>
                <td>1</td>
                <td>Crown Molding 2</td>
                <td>Installation and Painting</td>
                <td>10/24/2017</td>
                <td>10/24/2017</td>
            </tr>
            <tr>
                <td></td>
                <td>2</td>
                <td>Crown Molding 1</td>
                <td>Installation and Painting</td>
                <td>10/24/2017</td>
                <td>10/24/2017</td>
            </tr>
            <tr>
                <td></td>
                <td>3</td>
                <td>Crown Molding 5</td>
                <td>Installation and Painting</td>
                <td>10/24/2017</td>
                <td>10/24/2017</td>
            </tr>
            <tr>
                <td></td>
                <td>4</td>
                <td>Crown Molding 2</td>
                <td>Installation and Painting</td>
                <td>10/24/2017</td>
                <td>10/24/2017</td>
            </tr>
        </tbody>

    </table>
</div>



