<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-sm-6">
            <div class="title-bar">Total Projects</div>
            <div class="callout flex-container align-center align-middle">
                <span class="size-48">
                    1
                </span>
            </div>
        </div>

        <div class="col-lg-6 col-sm-6">
            <div class="title-bar">Total Clients</div>
            <div class="callout flex-container align-center align-middle">
                <span class="size-48">14</span>
            </div>
        </div>

        <div class="col-lg-6 col-sm-6">
            <div class="title-bar">Chart</div>
            <div class="callout">
                @{ Html.RenderPartial("_PieChart");}
            </div>
        </div>

        <div class="col-lg-6 col-sm-6">
            <div class="title-bar"></div>
            <div class="callout">

            </div>
        </div>
    </div>


</div>


