<div class="grid-x grid-padding-x">
    <div class="medium-12 large-6 cell">
        <div class="title-bar">Total Projects</div>
        <div class="callout flex-container align-center align-middle">
            <span class="size-48">
                1
            </span>
        </div>
    </div>
    <div class="medium-12 large-6 cell">
        <div class="title-bar">Total Clients</div>
        <div class="callout flex-container align-center align-middle">
            <span class="size-48">14</span>
        </div>
    </div>
    <div class="medium-12 large-6 cell">
        <div class="title-bar">Chart</div>
        <div class="callout">
            @{ Html.RenderPartial("_PieChart");}
        </div>
    </div>
    <div class="medium-12 large-6 cell">
        <div class="title-bar"></div>
        <div class="callout">

        </div>
    </div>
</div>

