@model ProjectManagementTool.Models.ViewModels.PGMToolVM
@{
    Layout = "~/Views/Shared/_PMGTFrameLayout.cshtml";
}

<div class="container-fluid">

    <div id="ProjectSection" class="col-lg-12 col-sm-12">

        @*@{Html.RenderPartial("_ProjectDefaultView", Model);}*@
        @{ Html.RenderPartial("_InsertUser", Model);}
    </div>
</div>