@model ProjectManagementTool.Models.ViewModels.PGMToolVM
@{
    Layout = "~/Views/Shared/_PMGTFrameLayout.cshtml";
}
<div class="grid-y medium-grid-frame">

    <div class="cell medium-auto medium-cell-block-container">
        <div class="grid-x grid-padding-x grid-padding-x ">

            <div id="ProjectSection" class="small-12 columns callout large-flex-child-auto border-none">

                @{Html.RenderPartial("_ProjectDetailsView", Model);}
            </div>
        </div>

    </div>


</div>
