@model ProjectManagementTool.Models.ProjectViewModel
@{
    ViewBag.Title = "PGMAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PGMAccount</h2>

<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <th class="col-sm-pull-4">Account</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </tbody>
    <tfoot></tfoot>
</table>

